*
!*/

!.gitignore

!*.coe
!*.mif

!*.pdf

!*.v
!*.vho
!*.vhd
!*.xdc
!*.xpr
!*.wcfg

!*.lpr
!*.ltx
!*.txt
!*.protoinst

*.*/
!*.sim/
!*.srcs/
!*.xci

!*.tcl
*/**/*.tcl

!*.circ
!*.bit

**/glbl.v

!*.cpp
!*.c
!*.h
!*.hpp
!*.pro
!*.ui

**/build-*

!*.gmif

**/work/*.c
**/ieee/*.c
**/sim/*.c
**/*.sim/**/*.mif
**/sysc/*.c
**/work/*.cpp
**/ieee/*.cpp
**/sim/*.cpp
**/sysc/*.cpp
**/work/*.h
**/ieee/*.h
**/sim/*.h
**/sysc/*.h
**/bd/**/*.ui